#container {
    width: 300px;
    background-color:black;
     margin: 0 auto;
}
#container > div {
    flex-grow: 1;
    height: 100px;
    background-color:brown;

}
#container > div:nth-child(2){
 background-color:pink;
}
#container > div:hover {
   background-color:blueviolet;
   flex-grow:2;
}